services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - node_modules:/home/vscode/app/node_modules
      - ../:/home/vscode/app:cached
    environment:
      CLOUDFLARE_ENV: dev
      NODE_ENV: development
      NODE_OPTIONS: "--no-deprecation"
    tty: true
    stdin_open: true

volumes:
  node_modules:
